body {
    margin-top:50px;
}
.stars {
    color:gray;
    cursor: pointer;
}
.height {
    height:200px;
}

.active {
    color:#000;
}
.rating {
    border:1px solid;
    padding: 5px 10px;
}
thead {
    background-color: lightgray;
}

.form-control {
    border:none;
    background: lightgray;
}
#map {
    height: 100%;
}

#average {
    float:right;
}

#hidden1, #hidden2, #hidden3  {
    display:none;
    color: #ff0000;
}

.stars-container {
    font-size: 30px;
}

.stars-container .star {
    cursor: pointer;
}

.star.hover {
    color: gold;
}

.change-row {
    position: absolute;
    left:0;
    display:none;
}
.display {
    display:inline;
}
.save {
    position:relative;
}