body {
    margin-top:50px;
}
.stars {
    color:gray;
    cursor: pointer;
}
.height {
    height:200px;
}

.active {
    color:#000;
}
.rating {
    border:1px solid;
    padding: 5px 10px;
}
thead {
    background-color: lightgray;
}

a {
    text-decoration: none;
}
.form-control {
    border:none;
    background: lightgray;
}
#map {
    height: 100%;
}

#average {
    float:right;
}

#hidden1, #hidden2, #hidden3  {
    display:none;
    color: #ff0000;
}

.stars-container {
    font-size: 30px;
}

.stars-container .star {
    cursor: pointer;
}

.star.hover {
    color: gold;
}
.gif {
    display:none;
}
.change-row, .change-row-cancel  {
    position: absolute;
    left:0;
    display:none;
}
.change-row-cancel {
    position: relative;
    left: 20px;
}
.display {
    display:inline;
}
.save {
    position:relative;
}
.btn-primary {
    border-radius: 5px;
    padding: 5px;
}
.sort-down {
    display:none;
}
.pages{
    text-align:center;
}
table div {
    width: 65px;
}
table span {
    cursor: pointer;
}

.right {
    float:right;
}

.overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 100%;
    width: 100%;
    z-index: 10;
    background-color: rgba(0,0,0,0.5);
    display:none;
}

.gif-here {
    position:absolute;
    left:50%;
    transform:translate(-50%,-50%);
    top:50%
}

#display{
    display:inline;
}
.close {
    position: absolute;
    left: 90%;
    top: 5%;
}
.icon {
    height:64px;
}
